<!-- Footer -->
<footer class="text-center text-lg-start text-muted fixed-bottom"
  style="background-color: rgb(20, 25, 31); color: rgba(33,37,41,1);">
  <!-- Section: Social media -->

  <!-- Copyright -->

  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.05)">
    <div class="row">
     <!--  <div class="col-3">
        &nbsp; <span>Cantidad de usuarios: </span> <br>
        &nbsp; <span>Cantidad de reuniones: </span>
      </div> -->
      <div class="col">
        <div class="text-center">
          <a class="text-reset fw" href="https://www.usach.cl/">Universidad De Santiago de Chile </a>
          -
          <a class="text-reset fw" href="https://informatica.usach.cl/">Departamento de Ingeniería Informática</a>    <br>
            D-Meetflow © 2023 - 
          <a class="text-reset fw" >Ideado por Edmundo Leiva </a>
          <a class="text-reset fw" > - Desarrollado por Fabián Bello </a>
      
        </div>
      </div>
    <!--   <div class="col-1">

      </div>
 -->
    </div>


  </div>

  <!-- Copyright -->
</footer>
<!-- Footer -->