<!-- Footer -->
<footer class="text-center text-lg-start text-muted fixed-bottom" style="background-color: rgba(33,37,41,1); color: rgba(33,37,41,1);">
  <!-- Section: Social media -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2023

    <a class="text-reset fw-bold" href="https://www.usach.cl/"
    >Universidad De Santiago de Chile. </a 
  >
     -
     <a class="text-reset fw-bold" href="https://informatica.usach.cl/"
     >Departamento de Ingeniería Informática.</a 
   >
   
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
