button{
    font-family: Poppins-regular;
    font-weight: 700;
    color: #ffffff;
    padding: 15px 30px;
    background: #208fd8;
    border-radius: 10px;
    cursor: pinter;
    transition: all 0.3;
    justify-content: center;
}

button:hover{
    background-color: #208fd8;
    color: #ffffff;
    transform: scale(1.2);
    justify-content: center;
}