<p>sidebar-tasks works!</p>

<div class="" style="padding-left: 0px;">

    <div class="card2">
        <div class="card2-body">
            <div class="card">
                <div class="card-body">
                    <h1>
                        <span class="" style="color: white; font-size: 60%;"> Tareas </span> 
                        <button class="button1" data-toggle="tooltip" data-placement="right" title="Refrescar lista de tareas"
                        (click)="searchP();">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"
                          style="fill: rgba(186, 223, 168, 1);transform: ;msFilter:;">
                          <path
                            d="M10 11H7.101l.001-.009a4.956 4.956 0 0 1 .752-1.787 5.054 5.054 0 0 1 2.2-1.811c.302-.128.617-.226.938-.291a5.078 5.078 0 0 1 2.018 0 4.978 4.978 0 0 1 2.525 1.361l1.416-1.412a7.036 7.036 0 0 0-2.224-1.501 6.921 6.921 0 0 0-1.315-.408 7.079 7.079 0 0 0-2.819 0 6.94 6.94 0 0 0-1.316.409 7.04 7.04 0 0 0-3.08 2.534 6.978 6.978 0 0 0-1.054 2.505c-.028.135-.043.273-.063.41H2l4 4 4-4zm4 2h2.899l-.001.008a4.976 4.976 0 0 1-2.103 3.138 4.943 4.943 0 0 1-1.787.752 5.073 5.073 0 0 1-2.017 0 4.956 4.956 0 0 1-1.787-.752 5.072 5.072 0 0 1-.74-.61L7.05 16.95a7.032 7.032 0 0 0 2.225 1.5c.424.18.867.317 1.315.408a7.07 7.07 0 0 0 2.818 0 7.031 7.031 0 0 0 4.395-2.945 6.974 6.974 0 0 0 1.053-2.503c.027-.135.043-.273.063-.41H22l-4-4-4 4z">
                          </path>
                        </svg>
                      </button>
                    </h1>
                    <form class="" autocomplete="off" (ngSubmit)="saveRemember()">
                      
           
                  
                        <hr>
                        <form autocomplete="off" [formGroup]="searchForm" (ngSubmit)="searchP()">
                            <div class="row">
                                <div class="col-4">
                                    <h6>
                                        <span class="" style="color: white;"> Encargados: </span>
                                    </h6>
                                    <select class="form-select" formControlName="filterUser"
                                        aria-label="Default select example"
                                        style="background-color:  rgba(11, 11, 11, 0.9); color: whitesmoke">
                                        <option selected>{{userSelected.email}}</option>
                                        <option *ngFor="let member of projectSelected.userMembers; let p = index">
                                            {{member}}
                                        </option>
                                        <option value="all">
                                            Todos
                                        </option>

                                    </select>
                                    <br>
                                </div>
                                <div class="col-4">
                                    <h6>
                                        <span class="" style="color: white;"> Proyectos: </span>
                                    </h6>
                                    <select class="form-select" formControlName="filterProject"
                                        aria-label="Default select example"
                                        style="background-color:  rgba(11, 11, 11, 0.9); color: whitesmoke">

                                        <option *ngFor="let project of projects; let p = index" value={{project._id}}>
                                            {{project.shortName}}
                                        </option>
                                        <option value="all">
                                            Todos
                                        </option>
                                    </select>
                                    <br>

                                </div>
                                <div class="col-4">
                                    <h6>
                                        <span class="" style="color: white;"> Estados: </span>
                                    </h6>
                                    <select class="form-select" formControlName="filterState"
                                        aria-label="Default select example"
                                        style="background-color:  rgba(11, 11, 11, 0.9); color: whitesmoke">
                                        <option value='all' selected>todos</option>
                                        <option value="new">Nuevas</option>
                                        <option value="desarrollo"> En desarrollo</option>
                                        <option value="pausada"> Pausadas</option>
                                        <option value="evaluando"> En evaluación</option>
                                        <option value="finalizado"> Finalizadas</option>
                                        <option value="borrada"> Borradas</option>
                                    </select>
                                    <br>
                                </div>
                            </div>
                            <button *ngIf="true" type="submit" class="btn btn-light btn-rounded"
                                style="align-items: right; background-color: #e5e5e5; color: rgb(40, 40, 40)"
                                (click)="searchP()">Filtrar tareas</button>
                        </form>
                        <br>
                        <hr />
                        <br />
<div class="card4edit">
    <div class="card4edit-body">


                        <!-- <label class="col-8 col-form-label" style="color: #208fd8"> Nombre</label> -->
                        <div class="input-group-vertical" style="list-style:none;">
                            <li *ngFor="let compromise of tasks; let i = index">
                                <div class="input-group" *ngIf="compromise.type === 'compromiso'">
                                    <!-- CASO EN QUE COMPROMISO ES NUEVO -->

                                    <div class="btn-group" *ngIf="compromise.state === 'new'">
                                        <a style="font-size: 100%" class="">
                                            <span data-toggle="tooltip" data-placement="left"
                                                title="{{compromise.description}}" style="color: rgb(194, 194, 194);">
                                                {{compromise.description.split(' ')[0]}}
                                                {{compromise.description.split(' ')[1]}}
                                                {{compromise.description.split(' ')[2]}}
                                                {{compromise.description.split(' ')[3]}}
                                                {{compromise.description.split(' ')[4]}}
                                                {{compromise.description.split(' ')[5]}}
                                                {{compromise.description.split(' ')[6]}}
                                                {{compromise.description.split(' ')[7]}}
                                                {{compromise.description.split(' ')[8]}}
                                                {{compromise.description.split(' ')[9]}}
                                                {{compromise.description.split(' ')[10]}}
                                                {{compromise.description.split(' ')[11]}}
                                            </span><span style="color: rgb(255, 255, 255)">
                                                ,
                                                <br>
                                                <!-- <b> Encargado: </b> -->
                                                <span style="color: rgb(194, 194, 194);">{{compromise.participants}},
                                                </span>
                                                <!-- <b> Fecha límite: </b> --> </span> <span
                                                style="color: rgb(194, 194, 194);"> {{compromise.dateLimit}}, </span>
                                           <span
                                                style="color: rgb(200, 97, 97);">
                                                No atendida.</span>
                                            <br>
                                            <div class="row">
                                                <div class="col-3">
                                                    <button (click)="setStateElement(compromise._id)"
                                                        class="btn btn-light btn-rounded"
                                                        style="background-color: rgb(223, 223, 223);" mdbRipple>
                                                        <span style=" color:
                                                            rgb(14, 14, 14)">Cambiar estado </span>
                                                    </button>
                                                    <button (click)="addRemember(compromise)" class="button1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                            viewBox="0 0 24 24"
                                                            style="fill: rgba(247, 246, 246, 1);transform: msFilter;">
                                                            <path
                                                                d="M12 22a2.98 2.98 0 0 0 2.818-2H9.182A2.98 2.98 0 0 0 12 22zm8.707-5.707L19 14.586V10c0-3.217-2.185-5.926-5.145-6.743C13.562 2.52 12.846 2 12 2s-1.562.52-1.855 1.258C7.185 4.074 5 6.783 5 10v4.586l-1.707 1.707A.997.997 0 0 0 3 17v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-1a.997.997 0 0 0-.293-.707zM16 12h-3v3h-2v-3H8v-2h3V7h2v3h3v2z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="btn-group" *ngIf="compromise.state === 'desarrollo'">
                                        <a style="font-size: 100%" class="">
                                            <span data-toggle="tooltip" data-placement="left"
                                                title="{{compromise.description}}" style="color: rgb(194, 194, 194);">
                                                {{compromise.description.split(' ')[0]}}
                                                {{compromise.description.split(' ')[1]}}
                                                {{compromise.description.split(' ')[2]}}
                                                {{compromise.description.split(' ')[3]}}
                                                {{compromise.description.split(' ')[4]}}
                                                {{compromise.description.split(' ')[5]}}
                                                {{compromise.description.split(' ')[6]}}
                                                {{compromise.description.split(' ')[7]}}
                                                {{compromise.description.split(' ')[8]}}
                                                {{compromise.description.split(' ')[9]}}
                                                {{compromise.description.split(' ')[10]}}
                                                {{compromise.description.split(' ')[11]}}
                                            </span><span style="color: rgb(255, 255, 255)">
                                                ,
                                                <br>
                                                <!-- <b> Encargado: </b> -->
                                                <span style="color: rgb(194, 194, 194);">{{compromise.participants}},
                                                </span>
                                                <!-- <b> Fecha límite: </b> --> </span> <span
                                                style="color: rgb(194, 194, 194);"> {{compromise.dateLimit}}, </span>
                                            <span
                                                style="color: rgb(227, 198, 120);">
                                                En desarrollo.</span>
                                            <br>
                                            <div class="row">
                                                <div class="col-3">
                                                    <button (click)="setStateElement(compromise._id)"
                                                        class="btn btn-light btn-rounded"
                                                        style="background-color: rgb(223, 223, 223);" mdbRipple>
                                                        <span style=" color:
                                                            rgb(14, 14, 14)">Cambiar estado </span>
                                                    </button>
                                                    <button (click)="addRemember(compromise)" class="button1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                            viewBox="0 0 24 24"
                                                            style="fill: rgba(247, 246, 246, 1);transform: msFilter;">
                                                            <path
                                                                d="M12 22a2.98 2.98 0 0 0 2.818-2H9.182A2.98 2.98 0 0 0 12 22zm8.707-5.707L19 14.586V10c0-3.217-2.185-5.926-5.145-6.743C13.562 2.52 12.846 2 12 2s-1.562.52-1.855 1.258C7.185 4.074 5 6.783 5 10v4.586l-1.707 1.707A.997.997 0 0 0 3 17v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-1a.997.997 0 0 0-.293-.707zM16 12h-3v3h-2v-3H8v-2h3V7h2v3h3v2z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="btn-group" *ngIf="compromise.state === 'pausada'">
                                        <a style="font-size: 100%" class="">
                                            <span data-toggle="tooltip" data-placement="left"
                                                title="{{compromise.description}}" style="color: rgb(194, 194, 194);">
                                                {{compromise.description.split(' ')[0]}}
                                                {{compromise.description.split(' ')[1]}}
                                                {{compromise.description.split(' ')[2]}}
                                                {{compromise.description.split(' ')[3]}}
                                                {{compromise.description.split(' ')[4]}}
                                                {{compromise.description.split(' ')[5]}}
                                                {{compromise.description.split(' ')[6]}}
                                                {{compromise.description.split(' ')[7]}}
                                                {{compromise.description.split(' ')[8]}}
                                                {{compromise.description.split(' ')[9]}}
                                                {{compromise.description.split(' ')[10]}}
                                                {{compromise.description.split(' ')[11]}}
                                            </span><span style="color: rgb(255, 255, 255)">
                                                ,
                                                <br>
                                                <!-- <b> Encargado: </b> -->
                                                <span style="color: rgb(194, 194, 194);">{{compromise.participants}},
                                                </span>
                                                <!-- <b> Fecha límite: </b> --> </span> <span
                                                style="color: rgb(194, 194, 194);"> {{compromise.dateLimit}}, </span>
                                             <span
                                                style="color: rgb(227, 198, 120);">
                                                En pausa.</span>
                                            <br>
                                            <div class="row">
                                                <div class="col-3">
                                                    <button (click)="setStateElement(compromise._id)"
                                                        class="btn btn-light btn-rounded"
                                                        style="background-color: rgb(223, 223, 223);" mdbRipple>
                                                        <span style=" color:
                                                            rgb(14, 14, 14)">Cambiar estado </span>
                                                    </button>
                                                    <button (click)="addRemember(compromise)" class="button1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                            viewBox="0 0 24 24"
                                                            style="fill: rgba(247, 246, 246, 1);transform: msFilter;">
                                                            <path
                                                                d="M12 22a2.98 2.98 0 0 0 2.818-2H9.182A2.98 2.98 0 0 0 12 22zm8.707-5.707L19 14.586V10c0-3.217-2.185-5.926-5.145-6.743C13.562 2.52 12.846 2 12 2s-1.562.52-1.855 1.258C7.185 4.074 5 6.783 5 10v4.586l-1.707 1.707A.997.997 0 0 0 3 17v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-1a.997.997 0 0 0-.293-.707zM16 12h-3v3h-2v-3H8v-2h3V7h2v3h3v2z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="btn-group" *ngIf="compromise.state === 'evaluando'">
                                        <a style="font-size: 100%" class="">
                                            <span data-toggle="tooltip" data-placement="left"
                                                title="{{compromise.description}}" style="color: rgb(194, 194, 194);">
                                                {{compromise.description.split(' ')[0]}}
                                                {{compromise.description.split(' ')[1]}}
                                                {{compromise.description.split(' ')[2]}}
                                                {{compromise.description.split(' ')[3]}}
                                                {{compromise.description.split(' ')[4]}}
                                                {{compromise.description.split(' ')[5]}}
                                                {{compromise.description.split(' ')[6]}}
                                                {{compromise.description.split(' ')[7]}}
                                                {{compromise.description.split(' ')[8]}}
                                                {{compromise.description.split(' ')[9]}}
                                                {{compromise.description.split(' ')[10]}}
                                                {{compromise.description.split(' ')[11]}}
                                            </span><span style="color: rgb(255, 255, 255)">
                                                ,
                                                <br>
                                                <!-- <b> Encargado: </b> -->
                                                <span style="color: rgb(194, 194, 194);">{{compromise.participants}},
                                                </span>
                                                <!-- <b> Fecha límite: </b> --> </span> <span
                                                style="color: rgb(194, 194, 194);"> {{compromise.dateLimit}}, </span>
                                            <span
                                                style="color: rgb(227, 198, 120);">
                                                En evaluación.</span>
                                            <br>
                                            <div class="row">
                                                <div class="col-3">
                                                    <button (click)="setStateElement(compromise._id)"
                                                        class="btn btn-light btn-rounded"
                                                        style="background-color: rgb(223, 223, 223);" mdbRipple>
                                                        <span style=" color:
                                                            rgb(14, 14, 14)">Cambiar estado </span>
                                                    </button>
                                                    <button (click)="addRemember(compromise)" class="button1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                            viewBox="0 0 24 24"
                                                            style="fill: rgba(247, 246, 246, 1);transform: msFilter;">
                                                            <path
                                                                d="M12 22a2.98 2.98 0 0 0 2.818-2H9.182A2.98 2.98 0 0 0 12 22zm8.707-5.707L19 14.586V10c0-3.217-2.185-5.926-5.145-6.743C13.562 2.52 12.846 2 12 2s-1.562.52-1.855 1.258C7.185 4.074 5 6.783 5 10v4.586l-1.707 1.707A.997.997 0 0 0 3 17v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-1a.997.997 0 0 0-.293-.707zM16 12h-3v3h-2v-3H8v-2h3V7h2v3h3v2z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="btn-group" *ngIf="compromise.state === 'borrada'">
                                        <a style="font-size: 100%" class="">
                                            <span data-toggle="tooltip" data-placement="left"
                                                title="{{compromise.description}}" style="color: rgb(194, 194, 194);">
                                                {{compromise.description.split(' ')[0]}}
                                                {{compromise.description.split(' ')[1]}}
                                                {{compromise.description.split(' ')[2]}}
                                                {{compromise.description.split(' ')[3]}}
                                                {{compromise.description.split(' ')[4]}}
                                                {{compromise.description.split(' ')[5]}}
                                                {{compromise.description.split(' ')[6]}}
                                                {{compromise.description.split(' ')[7]}}
                                                {{compromise.description.split(' ')[8]}}
                                                {{compromise.description.split(' ')[9]}}
                                                {{compromise.description.split(' ')[10]}}
                                                {{compromise.description.split(' ')[11]}}
                                            </span><span style="color: rgb(255, 255, 255)">
                                                ,
                                                <br>
                                                <!-- <b> Encargado: </b> -->
                                                <span style="color: rgb(194, 194, 194);">{{compromise.participants}},
                                                </span>
                                                <!-- <b> Fecha límite: </b> --> </span> <span
                                                style="color: rgb(194, 194, 194);"> {{compromise.dateLimit}}, </span>
                                             <span
                                                style="color: rgb(172, 203, 206);">
                                                Borrada.</span>
                                            <br>
                                            <div class="row">
                                                <div class="col-3">
                                                    <button (click)="setStateElement(compromise._id)"
                                                        class="btn btn-light btn-rounded"
                                                        style="background-color: rgb(223, 223, 223);" mdbRipple>
                                                        <span style=" color:
                                                            rgb(14, 14, 14)">Cambiar estado </span>
                                                    </button>
                                                    <button (click)="addRemember(compromise)" class="button1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                            viewBox="0 0 24 24"
                                                            style="fill: rgba(247, 246, 246, 1);transform: msFilter;">
                                                            <path
                                                                d="M12 22a2.98 2.98 0 0 0 2.818-2H9.182A2.98 2.98 0 0 0 12 22zm8.707-5.707L19 14.586V10c0-3.217-2.185-5.926-5.145-6.743C13.562 2.52 12.846 2 12 2s-1.562.52-1.855 1.258C7.185 4.074 5 6.783 5 10v4.586l-1.707 1.707A.997.997 0 0 0 3 17v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-1a.997.997 0 0 0-.293-.707zM16 12h-3v3h-2v-3H8v-2h3V7h2v3h3v2z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="btn-group" *ngIf="compromise.state === 'finalizado'">
                                        <a style="font-size: 100%" class="">
                                            <span data-toggle="tooltip" data-placement="left"
                                                title="{{compromise.description}}" style="color: rgb(194, 194, 194);">
                                                {{compromise.description.split(' ')[0]}}
                                                {{compromise.description.split(' ')[1]}}
                                                {{compromise.description.split(' ')[2]}}
                                                {{compromise.description.split(' ')[3]}}
                                                {{compromise.description.split(' ')[4]}}
                                                {{compromise.description.split(' ')[5]}}
                                                {{compromise.description.split(' ')[6]}}
                                                {{compromise.description.split(' ')[7]}}
                                                {{compromise.description.split(' ')[8]}}
                                                {{compromise.description.split(' ')[9]}}
                                                {{compromise.description.split(' ')[10]}}
                                                {{compromise.description.split(' ')[11]}}
                                            </span><span style="color: rgb(255, 255, 255)">
                                                ,
                                                <br>
                                                <!-- <b> Encargado: </b> -->
                                                <span style="color: rgb(194, 194, 194);">{{compromise.participants}},
                                                </span>
                                                <!-- <b> Fecha límite: </b> --> </span> <span
                                                style="color: rgb(194, 194, 194);"> {{compromise.dateLimit}}, </span>
                                           <span
                                                style="color: rgb(152, 199, 150);">
                                                Finalizada.</span>
                                            <br>
                                            <div class="row">
                                                <div class="col-3">
                                                    <button (click)="setStateElement(compromise._id)"
                                                        class="btn btn-light btn-rounded"
                                                        style="background-color: rgb(223, 223, 223);" mdbRipple>
                                                        <span style=" color:
                                                            rgb(14, 14, 14)">Cambiar estado </span>
                                                    </button>
                                      
                                                </div>
                                            </div>
                                        </a>
                                    </div>



                                </div>

                                <br>
                                <br>

                            </li>

                            <br>


                        </div>
                    </div>
                </div>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>