<div>
    <div>
        <section class="step-wizard">
            <ul class="step-wizard-list">
                 
                <li class="step-wizard-item  current-item ">
                    
                    <span class="progress-count "> </span>
                    
                    <span class="progress-label"></span>
             
                </li>
                
                <li class="step-wizard-item  ">
                    
                    <span class="progress-count  ">1 </span>
                    <span class="progress-label">Pre reunion</span>
                   <!--  <button class="btn2"> Iniciar reunion </button>  -->
                  <!--   <button class="btn2"> Preparar reunión </button> -->
                </li>
                
                <li class="step-wizard-item   ">
                    <span class="progress-count ">2 </span>
                    <span class="progress-label">en reunion </span>
         <!--            <button class="btn2"> Iniciar reunion </button> -->
                </li>
                <li class="step-wizard-item  ">
                    <span class="progress-count">3 </span>
                    <span class="progress-label">post reunion</span>
                   <!--  <button class="btn2" disabled> Terminar reunion </button> -->
                </li>
                
            </ul>
        </section>
    </div>
</div>