<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MENU</title>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>

  <section class="home">
    <div class="text">
      <!--  conecta variables de sideNavToggled de app-navbar (output) recibidas alla
       con variables de sideNavStatus de menu (input) recibidas aqui -->

      <!--   
      
      () aqui -> alla

      [] alla -> aqui
          
      -->

      <app-navbar 
        (sideNavToggled)="sideNavStatus = $event" 
        (sideNavTaskToggled)="sideNavTaskStatus = $event"
        [nameMeetingEmite]="nameMeetingEmite" 
        [nameSectionEmite]="nameSectionEmite"
        [nameProjectEmite]="nameProjectEmite" 
        [newParticipants]="newParticipants"></app-navbar>
        <!-- SIDEBAR TASK -->
        <app-sidebar-tasks 
          [sideNavTaskStatus]="sideNavTaskStatus"
          [nameProjectEmite]="nameProjectEmite" 
          [ngClass]="{'app-side-nav-open-task': sideNavTaskStatus}"
          class="black-border" >
        </app-sidebar-tasks>
         
      <main>
               <!-- SIDEBAR PROJECT MEET -->
               <app-sidebar 
               [sideNavStatus]="sideNavStatus" 
               [ngClass]="{'app-side-nav-open': sideNavStatus}"
       
               class="black-border" 
               
               (meetingStatus)="nameMeetingEmite = $event" 
               (projectStatusFunction)="nameProjectEmiteFunction2($event)"
               (projectStatus)="nameProjectEmite = $event"
               (sectionStatus)="nameSectionEmite = $event" 
               (changeStatus)="newParticipants = $event"
               
               ></app-sidebar>





       <!--  CONTENIDO DENTRO -->
        <div class="display-area p-3" 
             [ngClass]="{'display-area-shrink': sideNavStatus}"
             [ngClass]="{'display-area-shrink-task': sideNavTaskStatus}"
             [ngClass]="{'display-area-shrink-all': sideNavTaskStatus && sideNavStatus}"
            >

      

          <!-- TODO -->
          <router-outlet></router-outlet>

          <!-- FOOTER -->
          <app-footer></app-footer>

        </div>

      </main>

    </div>
  </section>


</body>


</html>

<div class="main-panel">
  <div class="row">

  </div>


</div>