<div class="sidebar-wrapper">
  <div class="logo"></div>

  <div class="row">
    <div class="col-6">
        <div class="card">
            <h4 class="simple-text">
              <!-- <div class="logo-img">
                                    <img src="/assets/img/angular2-logo-white.png"/>
                                </div> -->
              Proyectos  <button class="button btn"> + </button>    
                            </h4>
            <input
            type="text"
            class="form-control"

            name="producto"
            placeholder="buscar"
            required
            minlength="5"
          />

            <ul class="nav flex-column">
              <li
                routerLinkActive="active"
                *ngFor="let menuItem of menuItems"
                class="{{ menuItem.class }}"
              >
                <a href="[menuItem.path]">
                  <i class="{{ menuItem.icon }}"></i>
                  <p>{{ menuItem.title }}</p>
                </a>
              </li>
            </ul>
          </div>
    </div>


    <div class="col-6">
        <div class="card">
            <h4 class="simple-text">
              <!-- <div class="logo-img">
                                    <img src="/assets/img/angular2-logo-white.png"/>
                                </div> -->
              Reuniones <button class="button btn"> + </button>    
                            </h4>
            <input
            type="text"
            class="form-control"

            name="producto"
            placeholder="buscar"
            required
            minlength="5"
          />
            <ul class="nav flex-column">
              <li
                routerLinkActive="active"
                *ngFor="let menuItem of menuItems"
                class="{{ menuItem.class }}"
              >
                <a href="[menuItem.path]">
                  <i class="{{ menuItem.icon }}"></i>
                  <p>{{ menuItem.title }}</p>
                  
                </a>
              </li>
            </ul>
          </div>
    </div>

    



  </div>
</div>
