/* .container{
    padding-left: 20px;
    padding-right: 20px;
}
 */

button{
    margin-left: 10px;
    background-color: transparent;
}

.btn{
    background-color: transparent;
}

/* button.hover {

}
 */
 .btn-group{
    background: transparent;
 }
 

.navbar-brand{
    margin-left: 20px;
}

.navbar-toggler2{

    justify-content: left;
    display: left;
    align-items: left;
 

}

.navbar-toggler2{
    border-radius: 20px;
    justify-content: right;
    display: right;
    align-items: right;

}

.navbar-toggler3{
    border-radius: 20px;

    position:right;
    display: right;

}

.button1{

    font-weight: 300;
    color: rgba(132, 131, 131, 0);
    padding: 10px 10px;
    background: rgba(41, 41, 41, 0);

    cursor: pointer;
    transition: all 0.3;
    /* justify-content: center; */
    border: none;

}

/* .dropdown-menu{
    background-color: rgb(90, 96, 109);
    color:rgb(106, 106, 106)
}

.droopdown-item{
    color:rgb(100, 100, 100);
    background-color:rgb(97, 97, 97);
    
} */

.card{
    background-color: rgba(41, 41, 41, 0);
    border: none;
}

