<div>
    <div>
      <section class="step-wizard">
        <ul class="step-wizard-list">
          <li class="step-wizard-item">
            <span class="progress-count"> </span>
  
            <span class="progress-label" style="color: rgb(34, 34, 34)">Creada</span>
          </li>
  
          <li class="step-wizard-item">
            <span class="progress-count">1 </span>
            <span class="progress-label" style="color: rgb(34, 34, 34)">Pre-Reunión</span>
      
  
            <!--   <button class="btn2"> Preparar reunión </button> -->
          </li>
  
          <li class="step-wizard-item current-item ">
            <span class="progress-count">2 </span>
            <span class="progress-label" style="color: rgb(255, 255, 255)">En-Reunión</span>
            <br />
         
          </li>
          <li class="step-wizard-item ">
            <span class="progress-count">3 </span>
            <span class="progress-label" style="color: rgb(223, 223, 223)">Post-Reunión</span>
      <!--       <button (click)="addPostMeeting()" type="submit" style=" border-radius: 5px; color: rgb(0, 0, 0);  background-color: rgb(202, 226, 255); " class="btn btn-light btn-rounded" mdbRipple>
              Terminar
            </button> -->
  <!--           <button class="btn" disabled>Terminar</button> -->
          </li>
        </ul>
        <br />
  <br> <br>

      <br>
      <br>
      &nbsp;&nbsp;<button type="button" class="button1"
      style="align-items: left; position: relative; top: 20px; color: rgb(220, 219, 219)" (click)="muestraKanban()">      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
      style="fill: rgba(255, 255, 255, 1);transform: msFilter;">
      <path
        d="M4 21h15.893c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zm0-2v-5h4v5H4zM14 7v5h-4V7h4zM8 7v5H4V7h4zm2 12v-5h4v5h-4zm6 0v-5h3.894v5H16zm3.893-7H16V7h3.893v5z">
      </path>
    </svg> Kanban+
</button>
      </section>
      
      <br />
      
    </div>
  
<!--     <br />
    <button (click)="pomg()" type="submit" style=" border-radius: 5px; color: rgb(0, 0, 0);  background-color: rgb(202, 226, 255); " class="btn btn-light btn-rounded" mdbRipple>
      Acta Dialogica
    </button> -->
  
    <div *ngIf="isMeetingMinute" class="col-8">
      <br>
      <div class="card"><app-meeting-minute></app-meeting-minute></div>
    </div>
  
    <br />
<!--     <button class="btn2">Encuesta</button> -->
    <!--   <br />
    <button class="btn">Crear grafica</button>
    <br />
    <button class="btn">Crear borrador</button> -->
  </div>
  